<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Normies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./media/favicon/icon.png">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
    <!--custom css-->
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <% include ./partials/nav %>
        <img class="img-fluid" src="/media/header/banner.png" id="banner">
    </header>
    <main class="container" id="wrapper">
        <h4>Site Powered By: </h4>
        <br/>
        <div class="card-deck mx-auto" id="about-deck">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Server Side Language</h4>
                </div>
                <img class="card-img-top" src="../media/about/nodejs.png">
                <div class="card-block">
                    <h4 class="card-title">Node JS</h4>
                    <p class="card-text">
                        NodeJS is a server-side language that uses an event-driven, non-blocking I/O model that makes it lightweight and efficient.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Framework</h4>
                </div>
                <img class="card-img-top" src="../media/about/expressjs.png">
                <div class="card-block">
                    <h4 class="card-title">Express JS</h4>
                    <p class="card-text">A web application framework for NodeJS intended for simplifying the building of web applications and API's.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Database</h4>
                </div>
                <img class="card-img-top" src="../media/about/mongo-db.png">
                <div class="card-block">
                    <h4 class="card-title">MongoDB</h4>
                    <p class="card-text">
                        A no-SQL database with a format very similar to JSON, which allows for seamless integration with JavaScript.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Server</h4>
                </div>
                <img class="card-img-top" src="../media/about/nginx.png">
                <div class="card-block">
                    <h4 class="card-title">NginX</h4>
                    <p class="card-text">
                        A web server that can also be used as a reverse proxy, load balancer and HTTP cache.
                    </p>
                </div>
            </div>
        </div>
        <div class="row" id="serverResponse">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" id="serverMessageResponse"></div>
            <div class="col-sm-3"></div>
        </div>
        <form id="mailForm">
            <div class="form-row">
                <div class="col-sm-12">
                    <h3>Contact Me: </h3>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <label for="emailInput">Email Address</label>
                        <input type="email" class="form-control" id="emailInput" placeholder="name@email.com" autocomplete="off" oninvalid="this.setCustomValidity('Enter a valid email')" oninput="setCustomValidity('')" required>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <label for="emailInput">Subject</label>
                        <input type="text" class="form-control" id="subjectInput" placeholder="Topic for emailing Sir Doge..." autocomplete="off" oninvalid="this.setCustomValidity('Enter a subject')" oninput="setCustomValidity('')" required>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <label for="emailMessageInput">Email Message</label>
                        <textarea class="form-control" id="emailMessageInput" rows="5" autocomplete="off" oninvalid="this.setCustomValidity('Enter an email message.')" oninput="setCustomValidity('')" required></textarea>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary" type="submit" id="sendMailButton">Send</button>
                </div>
            </div>
        </form>
        <br/><br/>
    </main>
    <footer>
        <% include ./partials/footer %>
    </footer>
    <script>
        window.onload = function(){
            $('#aboutpage-link').addClass('active');
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="/scripts/aboutPage.js"></script>
</body>
</html>