<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/media/favicon/icon.png">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--full jquery-->
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!--google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
    <!--custom css-->
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <% include ./partials/nav %>
        <img class="img-fluid" src="/media/header/banner.png" id="banner" alt="banner logo">
    </header>
    <main class="container" id="wrapper">
        <!--<div class="container" id="wrapper">-->
            <h1>Welcome!</h1>
            <div class="card">
                <h3 class="card-header display-5"><%= user.username%></h3>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <h4>Player Tag: <%= user.playerTag%></h4>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <form id="changeEmailForm">
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8" id="emailChangeInput">
                                <div id="accountEmail">
                                    <h4>Email: <span id="accountEmailValue"><%= user.email%></span></h4>
                                </div>
                            </div>
                            <div class="col-sm-2" id="editFormBtn">
                                <button class="btn btn-primary" id="editButton">Edit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <br/><br/>
                <form action="/api/logout" method="POST">
                    <button class="btn btn-danger" type="submit">Logout</button>
                </form>
                <br/><br/>
            </div>
        <!--</div>-->
    </main>
    <footer>
        <% include ./partials/footer %>
    </footer>
    <script>
        window.onload = function(){
            $('#accountpage-link').addClass('active');
        }
        $(document).on('click', '#editButton', function(e){
            e.preventDefault();
            var emailVal = $('#accountEmailValue').text().trim();
            $('#accountEmail').remove();
            $('#emailChangeInput').append('<input type="email" id="accountEmailInput" class="form-control" value="'+ emailVal +'" required>');
            $('#editButton').remove();
            $('#editFormBtn').append('<button class="btn btn-primary" id="saveEditButton" type="submit">Save</button>');
        });
        $('#changeEmailForm').submit(function(e){
            e.preventDefault();
            var emailVal = $('#accountEmailInput').val();
            var email = {};
            email.email = emailVal;
            var data = JSON.stringify(email);
            $('#accountEmailInput').attr('disabled', true);
            $.ajax({
                type: 'PUT',
                data: data,
                contentType: 'application/json',
                url: '/api/user/email'
            }).done(function(data){
                window.location.reload(true);
            }).fail(function(err){
                $('#changeEmailForm').append('<div class="row" id="errorRow">');
                $('#errorRow').append('<div class="col-sm-2">');
                $('#errorRow').append('<div class="col-sm-8" id="alert">');
                $('#errorRow').append('<div class="col-sm-2">');   
                $('#alert').append('<div class="alert alert-danger alert-dismissible fade show">' + err.message +'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');                 
            });
        });
    </script>
</body>
</html>
