<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/media/favicon/icon.png">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--full jquery-->
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!--google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
    <!--custom css-->
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <% include ./partials/nav %>
        <img class="img-fluid" src="/media/header/banner.png" id="banner" alt="banner logo">
    </header>
    <main class="container" id="wrapper">
        <!--<div class="container" id="wrapper">-->
            <h2>Login</h2>
            <div class="row" id="error-space">
                <%if(error){%>
                    <div class="col-md-2"></div>
                    <div class="col-md-8 alert alert-danger" style="margin-left:0.5em; margin-right:0.5em;">
                        <%=error.message%>
                    </div>
                    <div class="col-md-2"></div>
                <%}else if(success){%>
                    <div class="col-md-2"></div>
                    <div class="col-md-8 alert alert-success" style="margin-left:0.5em; margin-right:0.5em;">
                        <%=success.message%>
                    </div>
                    <div class="col-md-2"></div>
                <%}%>
            </div>
            <br/>
            <form method="POST" action="/api/login" id="loginForm">
                <div class="normies-user-form-inputs">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <label for="inputPlayerTag">Player Tag</label>
                                <input type="text" class="form-control" name="playerTag" id="inputPlayerTag" aria-describedby="playerTagHelp" placeholder="Enter player tag">
                                <small id="inputPlayerTag" class="form-text text-muted">Enter your player tag provided by Clash Royale.</small>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <label for="inputPassword">Password</label>
                                <input type="password" class="form-control" name="password" id="inputPassword" aria-describedby="passwordHelp">
                                <small id="passwordHelp" class="form-text text-muted">Enter the password you set at registration.</small>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </div>
                </div>
                <br/>
                <button type="submit" class="btn" id="loginButton">Log In</button>
            </form>
            <br/>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <form method="GET" action="/register">
                        <h3>Don't Have An Account?</h3>
                        <p>Registration is a quick and easy process. Click on the register button to sign up.</p>
                        <button class="btn" id="registerRedirectButton">Register</button>
                    </form>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <br/>
        <!--</div>-->
    </main>
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>
</html>
