<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/media/favicon/icon.png">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--full jquery-->
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!--google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
    <!--custom css-->
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <% include ./partials/nav %>
        <img class="img-fluid" src="/media/header/banner.png" id="banner" alt="banner logo">
    </header>
    <main class="container" id="wrapper">
        <!--<div class="container" id="wrapper">-->
            <h2>User Registration</h2>
            <br>
            <form action="/api/register" method="post" id="normies-user-form">
                <div class="normies-user-form-inputs">
                    <p>
                        Welcome to the registration portal! 
                        As a registered user of The Normies site, you are granted access to all the privileges and features that come with it.
                        Currently, users can use our messaging board to keep in touch with everyone from the clan, or any outsiders.
                        A page for user-generated posts (somewhat similar to Facebook) will be implemented in the near future.
                    </p>
                    <br/>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <%if(error.tagErr){%>
                                    <label for="inputPlayerTag">Player Tag</label>
                                    <input type="text" class="form-control is-invalid" name="playerTag" id="inputPlayerTag" aria-describedby="playerTagHelp" placeholder="Enter player tag" required>
                                    <small id="inputPlayerTag" class="form-text text-muted">Enter your player tag provided by Clash Royale.</small>
                                    <%if(error.tagErr === 'takenErr'){%>
                                        <div class="invalid-tooltip">Player tag is already in use. Enter a different tag.</div>
                                    <%}else{%>
                                        <div class="invalid-tooltip">Enter a valid player tag</div>
                                    <%}%>
                                <%}else{%>
                                    <label for="inputPlayerTag">Player Tag</label>
                                    <input type="text" class="form-control" name="playerTag" id="inputPlayerTag" aria-describedby="playerTagHelp" placeholder="Enter player tag" required oninvalid="this.setCustomValidity('Enter a valid player tag')" oninput="setCustomValidity('')">
                                    <small id="inputPlayerTag" class="form-text text-muted">Enter your player tag provided by Clash Royale.</small>
                                <%}%>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <%if(error.emailErr){%>
                                    <label for="inputEmail">Email</label>
                                    <input type="email" class="form-control is-invalid" name="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
                                    <small id="emailHelp" class="form-text text-muted">Please enter a valid email. It will be used for password resets.</small>
                                    <div class="invalid-tooltip">Enter a valid email.</div>
                                <%}else{%>
                                    <label for="inputEmail">Email</label>
                                    <input type="email" class="form-control" name="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" required oninvalid="this.setCustomValidity('Enter a valid email')" oninput="setCustomValidity('')">
                                    <small id="emailHelp" class="form-text text-muted">Please enter a valid email. It will be used for password resets.</small>
                                <%}%>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <%if(error.passwordErr){%>
                                    <label for="inputPassword">Password</label>
                                    <input type="password" name="password" class="form-control is-invalid" id="inputPassword" aria-describedby="passwordHelp" required>
                                    <small id="passwordHelp" class="form-text text-muted">At the moments there are no password requirements.</small>
                                    <div class="invalid-tooltip">Enter a valid password</div>
                                <%}else{%>
                                    <label for="inputPassword">Password</label>
                                    <input type="password" name="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp" required oninvalid="this.setCustomValidity('Enter a password')" oninput="setCustomValidity('')">
                                    <small id="passwordHelp" class="form-text text-muted">At the moments there are no password requirements.</small>
                                <%}%>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <label for="inputPasswordConfirm">Confirm Password</label>
                                <input type="text" class="form-control" id="inputPasswordConfirm" required oninvalid="this.setCustomValidity('Confirm the password')" oninput="setCustomValidity('')">
                                <div class="valid-feedback">
                                    <strong>Passwords match!</strong>
                                </div>
                                <div class="invalid-feedback">
                                    <strong>Passwords do not match!</strong>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
                <br/>
                <button type="submit" class="btn">Register</button>
            </form>
            <br/>            
        <!--</div>-->
    </main>
    <footer>
        <% include ./partials/footer %>
    </footer>
    <script>
        $(document).ready(function(){
            $('#inputPasswordConfirm').keyup(function(){
                var passwordConfirmVal = $('#inputPasswordConfirm').val();
                var passwordVal = $('#inputPassword').val();
                if(passwordConfirmVal != passwordVal){
                    $('#inputPasswordConfirm').removeClass('is-valid');
                    $('#inputPasswordConfirm').addClass('is-invalid');
                }else{
                    $('#inputPasswordConfirm').removeClass('is-invalid');
                    $('#inputPasswordConfirm').addClass('is-valid');
                }
            })
        });
    </script>
</body>
</html>
