body{
    background: #343a40!important;
}

.navbar-brand{
    font-size: 1.5em;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bolder;
}

.nav-item:hover{
    background-color: black;
}

#bannerSlides{
    margin-top: 1.5em;
    max-height: 50em;
    overflow: hidden;
}

.carousel-item img{
    height: inherit;
    max-height: fit-content;
}

#wrapper{
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #434D5A;
    color: white;
    text-align: center;
}

.card{
    background-color: #3A3B3C;
}

.clan-info-card-img{
    max-width: 5em;
}

.card-header{
    background-color: #252525;
}

.card-img-top{
    background-color: #252525;
}

.card-block{
    background-color: #3A3B3C;
}

.container-fluid{
    background-color: #434D5A;
    color: white;
    text-align: center;
}

footer{
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    background: black;
    color: antiquewhite;
    padding-bottom: 2.5em;
    padding-top: 1em;
    /*padding-left: 2em;*/
    text-align: center;
    overflow: hidden;
}

footer img{
    max-width: 3em;
    max-height: 3em
}

hr{
    border-width: 0.2em;
    border-color: #343a40;
}

main{
    z-index: 100;
}

main [class^="col"]{
    padding-top: 1.5em;
}

#banner{
    margin-top: 5em;
    margin-bottom: 0;
    height: auto;
    width: fit-content;
}

#clan-title h1{
    font-size: 5em;
}

#player-deck img{
    max-height: 20em;
}

#player-chest-cycle img{
    max-height: 10em;
}

#leader-home a{
    text-decoration: none;
}

#top-clan-earner a{
    text-decoration: none;
}

#player-clantag a{
    text-decoration: none;
    font-weight: bold;
    color: #95B5FF;
}

#player-tabs{
    border-bottom: none;
}

#player-tabs .active{
    background: black;
}

#player-tabs a{
    color: white;
}

.battle-history-deck{
    max-height: 8em;
}

.battle-stats-icon{
    max-height: 3em;
}

.battle-type-icon{
    max-height: 4.5em;
}

.player-name-history{
    margin-top: 0;
    margin-bottom: 0;
}

.player-name-history a{
    color: white;
}

.player-name-history a:hover{
    background-color: black;
    text-decoration: none;
}

.crown-amount{
    background-color: black;
    padding-left: 1em;
    padding-right: 1em;
}

[class^="win-status"]{
    padding: 0.5em 1em 0.5em 1em;
    font-weight: bold;
}

.win-status-win{
    background-color: blue;
}

.win-status-loss{
    background-color: red;
}

.win-status-draw{
    background-color: azure;
    color: black;
}

.battle-history-trophies{
    max-height: 2em;
}

@media screen and (max-width: 480px){
    #player-deck img{
        max-height: 8em;
    }
    #player-list td{
        max-width: 1.5em;
        font-size: 10px;
    }
    #player-list th{
        max-width: 1.5em;
        font-size: 10px;
    }

    #player-list-name td{
        max-width: 2em;
    }

    #player-list-name th{
        max-width: 2em;
    }

    #clan-title h1{
        font-size: 2em;
    }
    #clan-title img{
        max-width: 4em;
    }

    #player-chest-cycle img{
        max-height: 4.5em;
    }

    .battle-history-deck{
        max-height: 4.5em;
    }

    #error-image{
        max-width: 6em;
    }
}