body{
    background: #343a40!important;
}

.navbar-brand{
    font-size: 1.5em;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bolder;
}

.nav-item:hover{
    background-color: black;
}

#bannerSlides{
    margin-top: 1.5em;
    max-height: 50em;
    overflow: hidden;
}

.carousel-item img{
    height: inherit;
    max-height: fit-content;
}

#wrapper{
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #434D5A;
    color: white;
    text-align: center;
}

.card{
    color: white;
}

.card-header{
    background-color: #252525;
}

.card-img-top{
    background-color: #252525;
}

.card-block{
    background-color: #3A3B3C;
}

.container-fluid{
    background-color: #434D5A;
    color: white;
    text-align: center;
}

footer{
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 100px;
    background: black;
    color: antiquewhite;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
    overflow: hidden;
}

footer img{
    max-width: 3em;
    max-height: 3em
}

hr{
    border-width: 0.2em;
    border-color: #343a40;
}

main{
    z-index: 100;
}

main [class^="col"]{
    padding-top: 1.5em;
}

#banner{
    margin-top: 5em;
    margin-bottom: 0;
    height: auto;
    width: fit-content;
}

#player-deck img{
    max-height: 250px;
}