<div class="row">
    <div class="col-sm-2">
        <strong>Social</strong><br/>
        <a href="https://twitter.com/CR_Normies"><img src="/media/footer/twitter.png" alt="twitter"></a>
    </div>
    <div class="col-sm-8">
        <p>Made by Sir Doge. Pls give doge coins.<p>
    </div>
    <div class="col-sm-2">
        <strong>GitHub</strong><br/>
        <a href="https://github.com/anthonyrojas/ClashSite"><img src="/media/footer/github.png" alt="github"></a>
    </div>
</div>