<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="/media/nav/navbrand.png" width="40" height="40" class="d-inline-block align-top" alt="navbar brand">
            The Normies
    </a>        
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clan">Our Clan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <% if(loggedIn == true){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/chat">Messaging</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account">Account Services</a>
                </li>
            <% }else{ %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Account Services</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>